doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title こんにちは
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", media="(min-width: 768px)", href="asset/css/pc.css")
    link(rel="stylesheet", media="(max-width: 767px)", href="asset/css/sp.css")
    script(src="assets/common/js/analytics.js")
  body
    main
      h1 こんにちは
      p さようなら
      img(src="asset/images/cha-han4_retasu.png" alt="ちゃーはん")
    script(src="asset/js/lib.js")
